#osu-cursor {
	position: fixed;
	pointer-events: none;
	z-index: 2147483647;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	user-select: none;
	/* transition: transform .2s ease; */
}

/* Bagian dalam cursor */
#osu-cursor > .cursor-inner {
	position: relative;
	will-change: transform;
	transform-origin: left top;
}

/* Gambar utama */
#osu-cursor > .cursor-inner > img {
	width: 30px;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	image-rendering: crisp-edges; /* lebih tajam untuk sprite osu */
}

/* Gambar additive (efek klik) */
#osu-cursor > .cursor-inner > img.cursor-additive {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* Efek aktif */
#osu-cursor.active > .cursor-inner > img.cursor-additive {
	opacity: 1;
}

#osu-cursor.active > .cursor-inner {
	transform: scale(0.85);
	transition: transform 0.2s cubic-bezier(0.2, 0.8, 0.4, 1);
}