#osu-cursor {
  position: fixed !important;
  pointer-events: none !important;
  z-index: 999999999 !important;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) !important;
  user-select: none;
}

/* Bagian dalam cursor */
#osu-cursor > .cursor-inner {
	position: relative;
	will-change: transform;
	transform-origin: left top;
}

/* Gambar utama */
#osu-cursor > .cursor-inner > img {
	width: 30px;
	height: 30px;       /* tambahkan ini */
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	image-rendering: crisp-edges; /* lebih tajam untuk sprite osu */
	background: rgba(255, 0, 255, 0.2); /* debug warna pink transparan */
}

/* Gambar additive (efek klik) */
#osu-cursor > .cursor-inner > img.cursor-additive {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* Efek aktif */
#osu-cursor.active > .cursor-inner > img.cursor-additive {
	opacity: 1;
}

#osu-cursor.active > .cursor-inner {
	transform: scale(0.85);
	transition: transform 0.2s cubic-bezier(0.2, 0.8, 0.4, 1);
}